anndata
apted
biopython
click
cython
cyvcf2
ete3
ipython
joblib
matplotlib
mudata
natsort
networkx<=2.8.3
numba
numpy
pandas
pybnb
pydot
python_sat
pyyaml
scanpy
scikit_learn
scipy
seaborn
termcolor
tqdm
